body.dark {
    --bg-color: rgb(12 12 88);
    --inverted-bg-color: rgb(237 237 239);
    --primary-color: rgb(3 255 3);
    --secondary-color: green;
    --inverted-primary-color: rgb(0 11 109);
    --inverted-secondary-color: rgb(0 47 255);
}
