.app.light {
    --bg-color: rgb(237, 237, 239);
    --inverted-bg-color: rgb(12, 12, 88);

    --primary-color: rgb(0, 11, 109);
    --secondary-color: rgb(0, 47, 255);

    --inverted-primary-color: green;
    --inverted-secondary-color: rgb(3, 255, 3);
}